/Discapsico/nbproject/private/
/Discapsico/build/
/Discapsico/dist/
/Javadiscapsico/nbproject/private/
/Javadiscapsico/dist/
/Javadiscapsico/build/
/WebApplication1/nbproject/private/
/WebApplication1/dist/
/WebApplication1/build/
